* {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #f0f0f0 !important;
  background-image: linear-gradient(0deg, transparent 31px, #ddd 32px),
    linear-gradient(90deg, transparent 31px, #ddd 32px);
  background-size: 32px 32px;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}
